
.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.edit-inpput-title {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  background-color: white;
  color: black;
  border: 2px solid #04aaff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
}

.edit-inpput-title-icon {
  /* flex-grow: 1; */
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px 15px;
  background-color: #04aaff;
  height: 40px;
  width: 50px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.edit-inpput-title-icon span{
  /* flex-grow: 1; */
  /* height: 40px; */
  /* background-color: white; */
  /* color:#04aaff; */
  /* font-weight: 700; */
  /* font-size: 12px; */
}

.edit-input-context {
  flex-grow: 1;
  height: 180px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: white;
  color: black;
  border: 2px solid #04aaff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
}

.editInput__plus {
  position: absolute;
  right: 40px;
  background-color: #c91212;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.editInput__arrow {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.edit-photoForm__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 10px; */
}

.editInput__label {
  margin-top: 10px;
  color: #04aaff;
  cursor: pointer;
  font-weight:bold;
  text-align: center;
  padding-left: 15px;
}

.editInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.editForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editForm__attachment img {
  height: 80px;
  /* width: 80px; */
  width: 100%;
  max-width: 320px;
  /* border-radius: 40px; */
}

.editForm__clear {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #04aaff;
  cursor: pointer;
  font-weight:bold;
  text-align: center;
}

.editForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

.editform-toast-msg {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 11px;
  min-width: 200px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
}