.search-factory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.search-factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.search-factoryInput__plus {
  position: absolute;
  right: 40px;
  background-color: #c91212;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.search-factoryInput__arrow {
  position: absolute;
  right: 0px;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.search-factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.search-factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.search-factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-factoryForm__attachment img {
  height: 80px;
  /* width: 80px; */
  width: 100%;
  max-width: 320px;
  /* border-radius: 40px; */
}

.search-factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.search-factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}
  